<!DOCTYPE html>
<html xmlns:th="hhtp://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro de Pessoas</title>
</head>
<body>


    <h1>Cadastro de Pessoas:</h1>
    <form method="post">
        Nome: <input type="text" value="" name="nome"/>
        CPF: <input type="text" value="" name="cpf"/>
        Data de nascimento: <input type="text" value="" name="dataNascimento"/>

        <button type="submit">Salvar</button>
    </form>

</body>
</html>
