<!DOCTYPE html>
<html xmlns:th="hhtp://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro de Contatos</title>
</head>
<body>


    <h1>Cadastro de Contatos:</h1>
    <form method="post">
        ID da Pessoa: <input type="text" value="" name="idPessoa"/>
        Nome: <input type="text" value="" name="nome"/>
        Telefone: <input type="text" value="" name="cpf"/>
        Email: <input type="text" value="" name="dataNascimento"/>

        <button type="submit">Salvar</button>
    </form>

</body>
</html>
